body {
    margin: 0;
    padding: 0;
    height: 100vh;
}
#custom .container #custom-row #custom-column #custom-box {
    margin-top: 120px;
    max-width: 600px;
    height: auto;
    border: 1px solid #9C9C9C;
}
#custom .container #custom-row #custom-column #custom-box #custom-form {
    padding: 20px;
}
#custom .container #custom-row #custom-column #custom-box #custom-form #register-link {
    margin-top: -85px;
}