<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OBP ID - List Consents</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />

    <!--[if lt IE 9]>
    <script type="text/javascript" th:src="@{/js/html5shiv.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/respond.min.js}" ></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" th:href="@{${application.obp_url}}">
        <img th:if="${showBankLogo == 'true'}" th:src="@{${bankLogoUrl}}" height="55" class="d-inline-block align-top" alt=""></img>
        <img th:unless="${showBankLogo == 'true'}" th:src="@{/images/logo.png}" height="55" class="d-inline-block align-top" alt=""></img>
        <span class="badge badge-primary">ASPSP</span>
    </a>
</nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-offset-3">
                <h2>My Consents</h2>
                <form th:action="@{/revoke_consents}" method="post" id="accept_form">
                    <div class="form-group">
                        <div>
                            <div class="checkbox" th:each="consent : ${consents}">
                                <label>
                                    <input type="checkbox" name="consents" th:value="${consent.consent_id}">
                                    <strong>Consent ID:</strong> <span th:text="${consent.consent_id}"></span><br>
                                    <strong>Consumer ID:</strong> <span th:text="${consent.consumer_id}"></span><br>
                                    <strong>Created By User ID:</strong> <span th:text="${consent.created_by_user_id}"></span><br>
                                    <strong>Status:</strong> <span th:text="${consent.status}"></span><br>
                                    <strong>Last Action Date:</strong> <span th:text="${consent.last_action_date}"></span><br>
                                    <strong>Last Usage Date:</strong> <span th:text="${consent.last_usage_date}"></span><br>
                                    <strong>JWT:</strong> <span th:text="${consent.jwt}"></span><br>
                                    <strong>API Standard:</strong> <span th:text="${consent.api_standard}"></span><br>
                                    <strong>API Version:</strong> <span th:text="${consent.api_version}"></span><br>

                                    <hr>
                                    <!-- JWT Payload Details -->
                                    <div>
                                        <strong>JWT Payload:</strong><br>
                                        <strong>Created By User ID:</strong> <span th:text="${consent.jwt_payload.createdByUserId}"></span><br>
                                        <strong>Subject:</strong> <span th:text="${consent.jwt_payload.sub}"></span><br>
                                        <strong>Issuer:</strong> <span th:text="${consent.jwt_payload.iss}"></span><br>
                                        <strong>Audience:</strong> <span th:text="${consent.jwt_payload.aud}"></span><br>
                                        <strong>JWT ID:</strong> <span th:text="${consent.jwt_payload.jti}"></span><br>
                                        <strong>Issued At:</strong> <span th:text="${consent.jwt_payload.iat}"></span><br>
                                        <strong>Not Before:</strong> <span th:text="${consent.jwt_payload.nbf}"></span><br>
                                        <strong>Expiration:</strong> <span th:text="${consent.jwt_payload.exp}"></span><br>

                                        <hr>
                                        <!-- Views List -->
                                        <div>
                                            <strong>Views:</strong><br>
                                            <div th:each="view : ${consent.jwt_payload.views}">
                                                <strong> - Bank ID:</strong> <span th:text="${view.bank_id}"></span><br>
                                                <strong> - Account ID:</strong> <span th:text="${view.account_id}"></span><br>
                                                <strong> - View ID:</strong> <span th:text="${view.view_id}"></span><br>
                                            </div>
                                        </div>

                                        <hr>
                                        <!-- Access List -->
                                        <div>
                                            <strong>Access:</strong><br>
                                            <div th:each="account : ${consent.jwt_payload.access.accounts}">
                                                <strong> - Account IBAN:</strong> <span th:text="${account.iban}"></span><br>
                                            </div>
                                            <div th:each="balance : ${consent.jwt_payload.access.balances}">
                                                <strong> - Balance IBAN:</strong> <span th:text="${balance.iban}"></span><br>
                                            </div>
                                        </div>
                                    </div>


                                </label>
                            </div>

                        </div>
                        <span class="text-danger" id="accounts_error"></span>
                    </div>
                    <input type="hidden" th:name="consent_challenge" th:value="${consent_challenge}">

                    <div class="btn-toolbar">
                        <button type="button" class="btn btn-danger" id="deny_btn">Cancel</button>
                        <button type="submit" class="btn btn-success" name="submit" value="Confirm">Delete</button>
                    </div>
                </form>

                <form th:action="@{/revoke_consents}" method="post" id="reject_form" class="hidden">
                    <input type="hidden" th:name="consent_challenge" th:value="${consent_challenge}">
                    <input type="hidden" th:name="deny" th:value="deny">
                </form>

            </div>
        </div>
        <div th:include="redis-log-widget :: redisLogWidget"></div>
    </div>

    <script type="text/javascript" th:src="@{/js/jquery-1.12.4.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/jquery-validate-1.19.2.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" ></script>
    <script type="text/javascript">
        $(function(){
            $("#accept_form").validate({
                rules: {
                    consents: "required",
                },
                messages: {
                    consents: "At least select one consent",
                },
                errorPlacement: function(error, element) {
                    if (element.attr("name") == "consents") {
                        error.appendTo("#accounts_error");
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

            $('#deny_btn').click(function(){
                $('#reject_form').submit();
            });

        });

    </script>
</body>
</html>